{% if caseEvidence %}
<section class="case-section case-evidence">
  <h2>Evidence</h2>

  <ul>
    {% for link in caseEvidence %}
      <li>
        <a href="{{ link.url }}" target="_blank">
          {{ link.label }}
        </a>
      </li>
    {% endfor %}
  </ul>

</section>
{% endif %}
