{% extends "layouts/base.njk" %}

{% block content %}
<div class="case-study-container">

  {% include "components/case-study/header.njk" %}
  {% include "components/case-study/tldr.njk" %}
  {% include "components/case-study/impact.njk" %}
  {% include "components/case-study/facts.njk" %}
  {% include "components/case-study/timeline.njk" %}
  {% include "components/case-study/details.njk" %}
  {% include "components/case-study/pattern.njk" %}
  {% include "components/case-study/differently.njk" %}
  {% include "components/case-study/evidence.njk" %}

</div>
{% endblock %}
