---
layout: layouts/case-study.njk
title: "2021 CAO Recruitment Scandal"
permalink: "/case-studies/cao-recruitment/"
---

{% set data = caseStudies["cao-recruitment"] %}

{% set caseTitle = data.caseTitle %}
{% set caseSubtitle = data.caseSubtitle %}
{% set caseSummary = data.caseSummary %}
{% set caseTimeline = data.caseTimeline %}
{% set caseDetails = data.caseDetails %}
{% set casePattern = data.casePattern %}
{% set caseDifferently = data.caseDifferently %}
{% set caseEvidence = data.caseEvidence %}
