---
layout: layouts/case-study.njk
title: "Municipal Software Debacle"
permalink: "/case-studies/municipal-software/"
---

{% set caseTitle = caseStudies.municipalSoftware.caseTitle %}
{% set caseSummary = caseStudies.municipalSoftware.caseSummary %}
{% set caseImpact = caseStudies.municipalSoftware.caseImpact %}
{% set caseFacts = caseStudies.municipalSoftware.caseFacts %}
{% set caseTimeline = caseStudies.municipalSoftware.caseTimeline %}
{% set casePattern = caseStudies.municipalSoftware.casePattern %}
{% set caseDifferently = caseStudies.municipalSoftware.caseDifferently %}
