---
layout: layouts/case-study.njk
title: "Municipal Software Debacle"
permalink: "/case-studies/municipal-software/"
---

{% set data = caseStudies["municipal-software"] %}

{% set caseTitle = data.caseTitle %}
{% set caseSummary = data.caseSummary %}
{% set caseImpact = data.caseImpact %}
{% set caseFacts = data.caseFacts %}
{% set caseTimeline = data.caseTimeline %}
{% set casePattern = data.casePattern %}
{% set caseDifferently = data.caseDifferently %}---
layout: layouts/case-study.njk
title: "Municipal Software Debacle"
permalink: "/case-studies/municipal-software/"
---

{% set caseTitle = caseStudies.municipalSoftware.caseTitle %}
{% set caseSummary = caseStudies.municipalSoftware.caseSummary %}
{% set caseImpact = caseStudies.municipalSoftware.caseImpact %}
{% set caseFacts = caseStudies.municipalSoftware.caseFacts %}
{% set caseTimeline = caseStudies.municipalSoftware.caseTimeline %}
{% set casePattern = caseStudies.municipalSoftware.casePattern %}
{% set caseDifferently = caseStudies.municipalSoftware.caseDifferently %}
